@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.font-500 {
    font-weight: 500;
}
.my-color {
    color: #FF8C47;
}
.my-color:hover {
    color: #FF8C47;
}

#root {
    font-family: 'Poppins', sans-serif;
}